/* This is a change */
/* This is another change */
/* This is third change */
/* This is 4th change */

body{
    font-size: 18px;
    font-family: Helvetica neue, Arial;
}

h1, h2{
    color: green;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

p{
    text-align: justify;
}
